<?xml version="1.0" encoding="UTF-8"?>
<span class="token function">"VRPatientSearch"</span>
<span class="token punctuation">(</span>
<span class="token keyword">new</span>
<span class="token class-name">ORN_VR_PatientSearch</span>
<span class="token punctuation">(</span>
<span class="token string">"/Users/jk048034/Desktop/POMModel/OrionProjects/src/platformUtility/extent-config.xml"</span>
<span class="token punctuation">)</span>
<span class="token punctuation">)</span>
<span class="token punctuation">;</span>